* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  --light-gray: hsl(227, 10%, 90%);
}

body {
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--dark-cyan);
  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  min-height: 100vh;
}

.card {
  max-width: 320px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.315);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.315);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.315);
}

.card-top-img {
  width: 100%;
  display: block;
}

.card-body {
  display: flex;
  align-items: center;
  flex-flow: column;
  border-bottom: 1px solid var(--light-gray);
}

.card-body-img {
  border: 6px solid #fff;
  border-radius: 50%;
  margin-top: -49px;
}

.card-body-header {
  color: var(--dark-blue);
  font-size: 1em;
  font-weight: 700;
  margin-top: 1.3em;
  margin-bottom: 0.5em;
}

.card-body-location {
  margin-bottom: 2em;
  font-size: 0.7em;
}

.card-body-header > span,
.card-body-location {
  color: var(--dark-grayish-blue);
  font-weight: 400;
}

.card-footer {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.card-footer-social {
  margin: 1.5em 0;
}

.card-footer-social > h3 {
  font-size: 1em;
  color: var(--dark-blue);
  margin-bottom: 0.6em;
}

.card-footer-social > p {
  font-size: 0.65em;
  font-weight: 400;
  color: var(--dark-grayish-blue);
  letter-spacing: 1.1px;
}

.attribution {
  font-size: 15px;
  text-align: center;
  color: var(--dark-blue);
  margin-top: 5em;
}
.attribution a {
  color: var(--light-gray);
}
